*, *:after, *::before
  box-sizing: border-box

.girl-nav
  a 
    position: relative
    display: inline-block
    margin: 15px 25px
    outline: none
    color: #fff
    text-decoration: none
    text-transform: uppercase
    letter-spacing: 1px
    font-weight: 400
    text-shadow: 0 0 1px rgba(255,255,255,0.3)
    font-size: 1.35em