@import "./effect/base.styl"
@import "./effect/bracket.styl"
@import "./effect/bottom-line.styl"
@import "./effect/double-line.styl"

bracket(20px,0.3s,'[',']')

bottomLine('up',10px,0.3s,#f19f0f)

doubleLine(0.3s,#f19f0f)

