@import "./effect/base.styl"
@import "./effect/bracket.styl"
@import "./effect/bottom-line.styl"
@import "./effect/double-line.styl"
@import "./effect/double-line-slight.styl"
@import "./effect/scale-down.styl"
@import "./effect/fall-down.styl"
@import "./effect/text-fill.styl"
@import "./effect/push-out.styl"
@import "./effect/slide.styl"
@import "./effect/slide-3d.styl"
@import "./effect/border-fall.styl"
@import "./effect/turn.styl"

bracket(20px,0.3s,'[',']')

bottomLine('up',10px,0.3s,#f19f0f)

doubleLine(0.3s,#f19f0f)

doubleLineSlight(0.3s,#f19f0f)

scaleDown(0.9,#fff,#333,0.3s)

fallDown(1.1,10px,-10px,4deg,#fff,#333,0.3s)

textFill(#333,#fff,0.3s)

pushOut('right',#0f7c67,#fff,0.3s)

slide('top',0.3s)

slide3d(0.3s)

borderFall(3px solid #354856,0.3s)

turn(0.6s)

